<footer class="site-footer h-card">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="social-media-list">
                    <li><a href="/archives/">Archives</a></li>
                    <li><a href="/search/label/">Tags</a></li>
                    <li><a href="/feed.xml">RSS</a></li>
                    <li><a href="/dnd">Dungeons&Dragons</a></li>
                </ul>
            </div>
            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li><a rel="me" href="https://hachyderm.io/@mharen">Mastadon</a></li>
                    <li><a rel="me" href="https://github.com/mharen">Github</a></li>
                    <li><a rel="me" href="https://www.tiktok.com/@mharen7">TikTok</a></li>
                    <li><a rel="me" href="https://www.linkedin.com/in/michael-haren/">LinkedIn</a></li>
                    <li><a rel="me" href="https://stackoverflow.com/users/29/michael-haren">Stackoverflow</a></li>
                    <li><a rel="me" href="mailto:mharen@gmail.com">mharen@gmail.com</a></li>
                </ul>
            </div>
            <div class="footer-col footer-col-3">
                <ul class="social-media-list">
                    <li><a href="https://upboatme.azurewebsites.net/">UPBOAT.ME Meme Generator</a></li>
                    <li><a href="https://tickstodatetime.azurewebsites.net/">Ticks → DateTime Convertor</a></li>
                    <li><a href="https://dancehamster.azurewebsites.net/">Mobile-Friendly Hampster Dance</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
