<ul class="social-media-list">
    <li><a href="https://hachyderm.io/@mharen">Mastadon</a></li>
    <li><a href="https://github.com/mharen">Github</a></li>
    <li><a href="https://www.tiktok.com/@mharen7">TikTok</a></li>
    <li><a href="https://upboatme.azurewebsites.net/">UPBOAT.ME Meme Generator</a></li>
    <li><a href="https://tickstodatetime.azurewebsites.net/">Ticks → DateTime Convertor</a></li>
    <li><a href="https://dancehamster.azurewebsites.net/">Mobile-Friendly Hampster Dance</a></li>
</ul>