---
---

@import "{{ site.theme }}";

hr {
    width: 75%;
    margin: auto;
}

hr + p {
    margin-top: 15px;
}

td {
    vertical-align: top;
}

img {
    padding: 5px 10px;
    max-width: calc(100% - 2 * 10px);
    height: auto;
}

.full-embed {
    padding: 5px 10px;
    width: calc(100% - 2 * 10px);
    height: auto;
}

.full-embed.hd {
    aspect-ratio: 16 / 9;
}

.full-embed.sd {
    aspect-ratio: 4 / 3;
}


p:has(> img.initial-capital) {
    padding: 0;
}

// jim-pony-taxi-who-sounds-lot-like.html
img.initial-capital {
    float: left;
    padding: 0 10px 0 0;
}
