---
---

@import "{{ site.theme }}";

// quick and dirty dark mode, thanks to Eric Meyer
// https://meyerweb.com/eric/thoughts/2023/01/16/minimal-dark-mode-styling/
@media (prefers-color-scheme: dark) {
    html {
        filter: invert(1);
    }
    html img,
    iframe {
        filter: invert(1);
    }
}

hr {
    width: 75%;
    margin: auto;
}

hr + p {
    margin-top: 15px;
}

td {
    vertical-align: top;
}

img {
    padding: 5px 10px;
    max-width: calc(100% - 2 * 10px);
    height: auto;
}

.full-embed {
    padding: 5px 10px;
    width: calc(100% - 2 * 10px);
    height: auto;
}

.full-embed.hd {
    aspect-ratio: 16 / 9;
}

.full-embed.sd {
    aspect-ratio: 4 / 3;
}

.full-embed.fixed-short {
    height: 200px;
}

p:has(> img.initial-capital) {
    padding: 0;
}

// jim-pony-taxi-who-sounds-lot-like.html
img.initial-capital {
    float: left;
    padding: 0 10px 0 0;
}

time {
    white-space: nowrap;
}

.comments-closed {
    font-size: $small-font-size;
    font-style: italic;
}

.archives {
    border: none;
    td {
        border: none;
        vertical-align: middle;
    }
    .archive-year {
        h3 {
            margin: 0;
            text-align: center;
            transition: all 200ms;
        }

        ol {
            list-style: none;
            margin: 0;
            display: grid;
            grid-gap: 5px;
            grid: auto-flow / repeat(12, 1fr);
            color: #aaa;
        }

        @media (max-width: 600px) {
            ol {
                grid: auto-flow / repeat(6, 1fr);
            }
        }
        @media (max-width: 500px) {
            ol {
                grid: repeat(3, 1fr) / auto-flow;
            }
        }
        @media (max-width: 400px) {
            td:first-child {
                padding: 0;
            }

            h3 {
                transform: rotate(-90deg);
            }

            ol {
                grid: repeat(4, 1fr) / auto-flow;
            }
        }
        @media (max-width: 350px) {
            ol {
                grid: repeat(6, 1fr) / auto-flow;
            }
        }
        @media (max-width: 250px) {
            ol {
                grid: repeat(12, 1fr) / auto-flow;
            }
        }
    }
}

.tag-list {
    list-style: none;
    margin: 0;
    columns: auto 200px;
    column-gap: 10px;
}

.logo {
    float: right;
    max-height: 78px;
    width: auto;
    padding: 0;
}
