<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Occasional thoughts on technology, money, life and kids" />
  
  <!-- tell chrome to stop guessing at its own dark mode; this site already supports it -->
  <meta name="color-scheme" content="light dark">

  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#365db0" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#c9a24f" />
  <link rel="stylesheet" href="/assets/main.css?{{ site.data.md5 }}" />
  <title>
    {%- case page.type -%}
    {%- when "category" -%}
    Archive of posts in {{ page.title | smartify | escape }}
    {%- when "year" -%}
    Archive of posts from {{ page.date | date: "%Y" }}
    {%- when "month" -%}
    Archive of posts from {{ page.date | date: "%B %Y" }}
    {%- when "day" -%}
    Archive of posts from {{ page.date | date: "%B %-d, %Y" }}
    {%- else -%}
    {%- if page.title -%}
    {{ page.title | truncatewords: 7 | smartify | escape }}—Wassupy
    {%- else -%}
    Wassupy
    {%- endif -%}
    {%- endcase -%}
  </title>
  <link rel="apple-touch-icon" sizes="941x911" href="/assets/old-computer-min.png" />
  <link rel="icon" type="image/png" sizes="128x128" href="/favicon-128.png" />
  <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png" />
</head>

<body>
  <div id="wrapper">
    <main>
      <header>
        <div>
          <h1><a href="/">Michael Haren’s Wassupy Blog</a></h1>
        </div>
      </header>
      {{ content }}
    </main>

    <footer>
      <a href="/"><img class="logo" alt="old computer logo" src="/assets/old-computer-logo-min.png" /></a>
      <ul class="none">
        <li><a href="/archives/">Archives</a></li>
        <li><a href="/search/label/">Tags</a></li>
        <li><a href="/feed.xml">RSS</a></li>
      </ul>

      <ul class="none">
        <li><a href="https://datetimetostring.wassupy.com">DateTime.ToString()</a></li>
        <li><a href="https://tickstodatetime.wassupy.com/">Ticks → DateTime</a></li>
        <li><a href="https://inttobitmask.wassupy.com/">Int → Bitmask</a></li>
        <li><a href="https://newguid.wassupy.com/">New GUID</a></li>
      </ul>

      <ul class="none">
        <li><a href="https://vcfprinter.wassupy.com/">VCF/VCard Printer</a></li>
        <li><a href="https://whatazurewebsiteenvironmentvariablesareavailable.azurewebsites.net/">Azure WebApp Vars</a></li>
        <li><a href="https://upboatme.azurewebsites.net/">Meme Generator</a></li>
        <li><a href="https://hampsterdance.wassupy.com">Hamster Dance</a></li>
      </ul>

      <ul class="none icons">
        <!-- https://nucleoapp.com/free-ui-icons -->
        <li><a rel="me" href="https://www.tiktok.com/@mharen7" title="TikTok">
            <svg role="img" aria-label="TikTok logo, a stylized 'T'">
              <use xlink:href="/assets/sprite.svg#tiktok" />
            </svg>
          </a></li>
        <li><a rel="me" href="https://hachyderm.io/@mharen" title="Mastodon">
            <svg role="img" aria-label="Mastadon logo (an elephant silhouette with an 'M' in the middle)">
              <use xlink:href="/assets/sprite.svg#mastodon" />
            </svg>
          </a></li>
        <li><a rel="me" href="mailto:mharen@gmail.com" title="Email">
            <svg role="img" aria-label="Envelope icon">
              <use xlink:href="/assets/sprite.svg#email" />
            </svg>
          </a></li>
        <li><a rel="me" href="https://www.linkedin.com/in/michael-haren/" title="LinkedIn">
            <svg role="img" aria-label="LinkedIn logo (the word 'in')">
              <use xlink:href="/assets/sprite.svg#linkedin" />
            </svg>
          </a></li>
        <li><a rel="me" href="https://stackoverflow.com/users/29/michael-haren" title="Stackoverflow">
            <svg role="img" aria-label="Stackoverflow logo (a container with a stack of items overflowing out of it and tipping over)">
              <use xlink:href="/assets/sprite.svg#stackoverflow" />
            </svg>
          </a></li>
      </ul>
    </footer>
  </div>
  <pre id="fin" aria-hidden="true">-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-</pre>

  <script>
    // add play/pause onclick to looping videos
    document.querySelectorAll('video[autoplay][loop]')
      .forEach(v => v.addEventListener("click", e => e.target.paused ? e.target.play() : e.target.pause()));
  </script>
</body>

</html>