<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Occasional thoughts on technology, money, life and kids" />
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#365db0" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#c9a24f" />
  <link rel="stylesheet" href="/assets/main.css?{{ site.data.md5 }}" />
  <title>
    {%- case page.type -%}
    {%- when "category" -%}
      Archive of posts in {{ page.title | smartify | escape }}
    {%- when "year" -%}
      Archive of posts from {{ page.date | date: "%Y" }}
    {%- when "month" -%}
      Archive of posts from {{ page.date | date: "%B %Y" }}
    {%- when "day" -%}
      Archive of posts from {{ page.date | date: "%B %-d, %Y" }}
    {%- else -%}
      {%- if page.title -%}
        {{ page.title | truncatewords: 7 | smartify | escape }}—Wassupy
      {%- else -%}
        Wassupy
      {%- endif -%}
    {%- endcase -%}
  </title>
  <link rel="apple-touch-icon" sizes="941x911" href="/assets/old-computer-min.png" />
  <link rel="icon" type="image/png" sizes="128x128" href="/favicon-128.png" />
  <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png" />
</head>

<body>
  <div id="wrapper">
    <main>
      <header>
        <div>
          <h1><a href="/">Michael Haren’s Wassupy Blog</a></h1>
        </div>
      </header>
      {{ content }}
    </main>

    <footer>
      <a href="/"><img class="logo" alt="old computer logo" src="/assets/old-computer-logo-min.png" /></a>
      <ul class="none">
        <li><a href="/feed.xml">RSS</a></li>
        <li><a href="/search/label/">Tags</a></li>
        <li><a href="/archives/">Archives</a></li>
      </ul>
      <ul class="none">
        <li><a rel="me" href="https://www.tiktok.com/@mharen7">TikTok</a></li>
        <li><a rel="me" href="https://github.com/mharen">Github</a></li>
        <li><a rel="me" href="https://hachyderm.io/@mharen">Mastadon</a></li>
      </ul>
      <ul class="none">
        <li><a rel="me" href="mailto:mharen@gmail.com">Email</a></li>
        <li><a rel="me" href="https://www.linkedin.com/in/michael-haren/">LinkedIn</a></li>
        <li><a rel="me" href="https://stackoverflow.com/users/29/michael-haren">Stackoverflow</a></li>
      </ul>
      <ul class="none">
        <li><a href="https://dancehamster.azurewebsites.net/">Hamster Dance</a></li>
        <li><a href="https://upboatme.azurewebsites.net/">Meme Generator</a></li>
        <li><a href="https://tickstodatetime.azurewebsites.net/">Ticks → DateTime</a></li>
      </ul>
    </footer>
  </div>
  <pre id="fin" aria-hidden="true">-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-</pre>
</body>

</html>