---
layout: default
---

<article>
    <h2>{{ page.title | smartify | escape }}</h2>
    {% if page.date or page.categories %}
    <div class="meta">
        {% if page.date %}
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%b %-d, %Y" }}
        </time>
        {%- endif -%}
        {% assign catSize = page.categories | size %}
        {% if catSize > 0 %}
        in <em>
            {% case catSize %}
            {% when 1 %}
            {% assign category = page.categories | first %}
            <a href="/search/label/{{ category | slugify: 'latin' }}/">{{ category }}</a>
            {% when 2 %}
            {% assign category1 = page.categories | first %}
            {% assign category2 = page.categories | last %}
            <a href="/search/label/{{ category1 | slugify: 'latin' }}/">{{ category1 }}</a>
            and
            <a href="/search/label/{{ category2 | slugify: 'latin' }}/">{{ category2 }}</a>
            {% else %}
            {% for category in page.categories %}
            {% if forloop.last %} and {% endif %}
            <a href="/search/label/{{ category | slugify: 'latin' }}/">{{ category }}</a>
            {%- unless forloop.last -%}, {%- endunless -%}
            {% endfor %}
            {% endcase %}
        </em>
        {%- endif -%}
    </div>
    {% endif %}

    {{ content }}
</article>